<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.AutoGen" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Numpy.Bare" version="3.7.1.6" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net472" />
  <package id="Python.Runtime.NETStandard" version="3.7.1" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="Torch.NET" version="3.7.1.1" targetFramework="net461" />
</packages>